---
layout: default
---
  {%- if page.episodeIndex %}  
  {% assign episode = site.data.episodes[page.episodeIndex] %}
  {% endif -%}

  {%- if page.title_override %}  
  {% assign title = page.title_override %}
  {%- elsif episode %}  
  {% assign title = episode.title %}
  {% else %}
  {% assign title = "Unknown" %}
  {% endif -%}
  <a href="{{ site.github_repo }}{{ page.path }}">Edit</a>
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
    <h2>{{ episode.subtitle }}</h2>
  </header>

  <div class="post-content">
    {%- if episode %}

    <iframe src="{{ episode.playerURL }}?theme=dark" width="740" height="200" frameborder="0" scrolling="no"></iframe>

    <strong>BEMA Episode Link:</strong> <a href="{{ episode.link }}" target="_blank">{{ episode.title }}</a><br />
    <strong>Episode Length:</strong> {{ episode.duration }}<br />
    <strong>Published Date:</strong> {{ episode.pubDate}}<br />
    <strong>Session {{ episode.season }}</strong><br />
    <strong>About this episode:</strong><br />
    {{ episode.description }}
    {% endif -%}
    
    <h2>Notes</h2>
    <p>
      <em>*Note: The following notes are handwritten by me, Adam, and I reserve the right to be wrong.</em>
    </p>
    <p>
      {{ content }}
    </p>
  </div>

</article>

<script src="https://a.fireside.fm/assets/sub-dff87b629d2964b4f88ad685e29302d6e78ca68d650bb6081e3e2ce7bc6a9dd5.js" data-turbolinks-track="true"></script>
<link rel="stylesheet" media="all" href="https://a.fireside.fm/assets/dracula_embed-3b5740b478e315497bc53a68887f6893652851e131cfd6d8a04ddf891b123988.css" data-turbolinks-track="true" />
<script src="https://a.fireside.fm/assets/dracula_wavesurfer-f395c4ca5182e6364efddd509f9acc29532bff1fd7945df0b68b66e199c19428.js" data-turbolinks-track="true"></script>
<script src="https://a.fireside.fm/assets/dracula_embed-592c687f35e98aa18d01907318360fe0a6c3626876dd2e695521e85911feda38.js" data-turbolinks-track="true"></script>

<script>
  // Get the timecode (in seconds) from the URL
  const urlParams = new URLSearchParams(window.location.search);
  var seconds = urlParams.has("t") ? urlParams.get("t") : 0;

  $(function() {
    // Create a new instance of the MediaElement Player
    $('#audio_player').mediaelementplayer({
      audioHeight: 40,
      startVolume: 1.0,
      alwaysShowHours: true,
      features: ['playpause','progress','current','|','duration','volume','speed'],
      success: function(mediaElement, originalNode) {
        mediaElement.addEventListener('loadeddata', function() {
          // Player is ready
          // Set the playhead based on URL parameters
          if (parseInt(seconds) > 0) {
            mediaElement.setCurrentTime(parseInt(seconds));
          }
        }, false);

        // When the user actually presses play, send a request to Aphid to track
        // the play and update the play-count in a more accurate fashion.
        // This avoids the false-downloads that Safari generates on page-load.
        var playcount = 0;
        mediaElement.addEventListener('playing', function() {
          if (playcount==0) {
            jQuery.get("{{ episode.playerURL }}");
            playcount += 1;
          }
        }, false);

        // Listener to update the Link with Timecode URL
        mediaElement.addEventListener('timeupdate', function(e) {
          $("#timestamp_link").prop("href", "/30?t=" + parseInt(mediaElement.currentTime));
        }, false);
      }
    });

    // Activate modals
    $('a[data-modal]').click(function(event) {
      $(this).modal({
        fadeDuration: 100,
      });
      return false;
    });
  });
</script>